section.progressContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:1rem;
    margin-top: 48px;
    
    .progressGroup {
        display: flex;
    
        .progressIcon {
            display: inline-block;
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;
        }
    }
}
.progressBar {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
    border-color:var(--progress-undone-color);
}

.progressLabel {
    font-weight: 400;
    line-height: 24px;
    color:var(--main-text);
}


//step style
.textUndone{
    //顏色樣式
    color:var(--progress-undone-color);
    background-color:var(--step-undone-background);
    border:1px solid var(--step-undone-border);
    //外觀
    width: inherit;
    height: inherit;
    border-radius:50%;
    position: absolute;
    top: 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}



//completed style
.progressBarCompleted {
    composes:progressBar;
    border-color:var(--progress-done-color);
}

.progressLabelCompleted{
    composes:progressLabel;
    color:var(--progress-done-color);
}
.textActive{
    composes: textUndone;
    background-color: var(--step-done-background);
    color: var(--white);
    border:1px solid var(--step-done-border);
}

