//下拉式選單箭頭樣式
.selectContainer {
    position: relative;
    &::after {
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        z-index: -2;
        pointer-events: none;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: var(--select-arrow) transparent transparent transparent;
        content: "";
    }
}

// input width樣式調整
//step1 地址input
.inputGroup{
    margin-top: 24px;
  }

.genderInfo{
    width:35%;
}
.countryInfo{
    width:35%;
}
.phoneInfo{
    width:45%;
}
.emailInfo{
    width:45%;
}
.nameInfo{
    width:60%;
}
.addressInfo{
    width:60%;
}